<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="matDrawer.toggle()" matTooltip="Ver Menú lateral." >
      <mat-icon >menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span class="text" >Fresh Fish Inventario</span>
    <span class="spacer"></span>
    <span class="text">Bienvenido {{currentUser.fullname}}</span>
  </mat-toolbar-row>
  
</mat-toolbar>

<article id="main-section-principal">

  
  <aside>
    <router-outlet></router-outlet>
  </aside>

</article>



