h1 {
  text-align: center;
}

article.article-selecting {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
}

p.search-end {
  text-align: center;
  margin-top: 2rem;
}

.no-results{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

section.articles {
  display: flex;
  
}


section.articles > .list-articles {
  flex: auto;
  border-right: 1px dotted #000;
  width: 50%;
  min-width: 0;
  height: 60vh;
  overflow-y: auto;
}

section.articles > .list-articles h2, section.articles > .selected-articles h2 {
  text-align: center;
}

section.articles > .list-articles button, section.articles > .selected-articles .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.articles > .selected-articles {
  flex: auto;
  width: 50%;
  min-width: 0;
  height: 60vh;
  overflow-y: auto;
}

.list-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  
}

.list-option-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-option-content span, .span-list-option, .pre-wrap-white-space {
  white-space: pre-wrap;
}

.selected-articles-controls {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  background-color: #0000005b;
  border-radius: 5rem;
  padding: 0.5rem;

}

.selected-articles-controls .amount::-webkit-inner-spin-button {
  appearance: none;
  margin: 0; 
}

.selected-articles-controls .amount {
  text-align: center;
  width: 3rem;
  font-size: 2rem;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.elements-selected {
  text-align: center;
  font-size: 1.5rem;
  
}

h2  {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  z-index: 1000;
}


@media (max-width:900px) {

  form {
    gap: 2rem;
  }

  section.articles {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
  }

  section.articles > .list-articles {
    width: 100%;
    border-right: none;

    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  section.articles > .selected-articles {
    width: 100%;
    padding-bottom: 2rem;

  }

}


@media (max-width:600px) {

  article.article-selecting {
    width: 95%;
  }

  section.articles > .selected-articles {
    flex-direction: column;
  }

  .selected-articles-controls {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}



